{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block body %}
    <h1>Etudiants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ etudiant.age }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ etudiant.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etudiants_index') }}">back to list</a>

    <a href="{{ path('etudiants_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiants/_delete_form.html.twig') }}
{% endblock %}
